nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--primary-color);
}

nav .linkes {
    text-align: left;
    /* background-color: var(--light-color); */
    width: 100%;
}

.fixed {
    position: fixed;
    top: 0px;
    padding: 10px 20px;
    background-color: var(--light-color);
    z-index: 999;
    margin: 0;
}

.d-none {
    display: none;
}

nav .container ul li {
    font-size: 20px;
}

nav .container ul li a.active {
    color: black;
    font-weight: 500;
}

nav .container ul li a {
    padding: 10px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

nav .container ul li a:hover {
    color: var(--blue-color);
}

nav .container .cart a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 2.3rem;
    margin-left: 20px;
}


nav .container .search {
    padding: 8px 30px;
    text-align: center;
}

nav .container .search:hover {
    background-color: #444;
}

nav .container .search::before {
    background-color: #444;
}

nav .container .cart .number-of-products {
    background-color: #6c757d;
    color: #fff;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 5px;
    border: 1px solid #6c757d;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .container .cart .number-of-products:hover {
    color: #0d6efd;
    background-color: #fff;

}